<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="io.github.ceigt.geolocation.CONTROL" />
    <queries><package android:name="io.github.ceigt.geolocation" /></queries>
    <application android:label="GeoLocation Regression" android:allowBackup="false">
        <activity android:name=".ProbeActivity" android:exported="false" />
    </application>
</manifest>
